

table {
    border-collapse: collapse;
}
td {
    border-bottom: 1px solid #ddd;    
    padding: 8px;
    padding-top: 20px;
    text-align: left;
  
}
tr{
    background-color: #bdd1b7;
    text-align: center;
    
}
th {  
    border-bottom: 1px solid #ddd;    
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #04AA6D;
    color: rgb(10, 0, 0);
    
}
    
tr:hover {background-color: #ddd;}

.boxUpdate{


    width: 600px;
    height: 400px;
    
}

.boxFormUpdate{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    position: relative;
}

.boxFormUpdate h2{
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.boxFormUpdate label{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
  
    position: relative;
}

.formUpdateInput {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.formUpdateBtn {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.ul {
        list-style: none;  
        background-color: wheat;
    }
    
.li { 
        background: rosybrown;
        display: inline-block;
        margin: 10px;
    
    }
    
.navlink { 
        text-decoration: none;
    }


